body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Intr', sans-serif;
}



h2 {
    text-shadow: rgba(0, 255, 213, 0.562) 1px 0 10px;
}

/* ---------------Header Css------------------- */
nav {
    color: #4b4b4b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    padding-top: 1.5rem;
    padding-right: 150px;
    padding-bottom: -100px;
    padding-left: 150px;
    font-size: larger;

}

.nav-pic {
    border: 1px solid black;
    width: 40px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;



}

.nav-logo {
    font-size: 20px;
    align-items: center;

}



.menu-list {
    display: flex;
    padding: 30 px;
    list-style-type: none;
    text-align: center;
    white-space: nowrap;
    color: #4b4b4b;




}

.menu-list-item {
    color: #4b4b4b;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    padding: 8px;
}

.menu-list-item a {
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #4b4b4b;
}

.menu-list-item:hover a {
    text-decoration: none;
    color: #ff7200;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

@media(max-width: 1000px) and (min-width: 468px) {
    .menu-list {
        display: flex;
    }

    .menu-list-item a {
        margin-left: 0.5rem;
    }
}

/* ----------About-------------- */
.about-container {
    padding: 1.5rem 0;
    padding-top: 1.5rem;
    padding-right: 0px;
    padding-bottom: 1.5rem;
    padding-left: 150px;
    font-size: larger;
    color: #4b4b4b;


}


/* --------------Skills----------------------- */
#skills {

    padding-left: 150px;
    color: #4b4b4b;


}

#skills ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.skill {
    background-color: #cfe2e9;
    text-align: center;
    width: 130px;
    height: 28px;
    border-radius: 10px;
    margin: 25px;
    font-size: 20px;
    padding: 0;
    padding-top: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
    text-align: center;
}

/* ------------Experience------------------- */
#experience {
    display: block;
    color: #4b4b4b;
    padding: 1.5rem 0;
    padding-top: 2.5rem;
    padding-right: 150px;
    padding-bottom: 1.5rem;
    padding-left: 150px;
    font-size: larger;
}


.experience-list {
    padding: 0px;


}

.new-style {
    padding-top: 1.5rem;
    background: #f7f5f923;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
}

.span-date {
    background: #e1490217;
    border-radius: 10px;
}

/* --------------PROJECT---------------- */
.my-project {

    color: #4b4b4b;
    padding-left: 150px;
    font-size: larger;

}

/* --------------CONTACT---------------------- */
#contact {
    color: #4b4b4b;
    margin: 0px;
    padding-left: 150px;
    font-size: larger;
}

.label_one {
    display: inline-block;
}

.label_two {
    display: inline-block;
    padding: 20px;

}

input[type='email'],
input[type='text'] {
    width: 25em;
    padding: 12px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    width: 15em;
}

textarea {

    width: 20em;
    height: 80px;
    padding: 0px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

textarea:focus {
    outline: none;
}

/* ----------------BUTTON-------------------- */
#submit {
    width: 180px;
    background: #ff7200;
    margin-top: 18px;
    margin-left: 0px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    float: left;

}

#submit:hover {
    background: #ff7200;
    color: black;
}

/* ---------------ICONS------------------ */
.social-links {
    display: flex;
    list-style: none;
    font-size: 35px;
    gap: 10px;
}

.social-icon {
    color: #4b4b4b;
}

.social-icon:hover {
    color: #E14802;

}

/* --------------FOOTER-------------- */
.footer-content {
    color: #4b4b4b;
    display: flex;
    justify-content: space-between;
    padding-right: 150px;
    padding-left: 150px;
    font-size: larger;
}

.copyright {
    padding: 0 px;
    list-style-type: none;
    white-space: nowrap;
    background-color: #f8f8f82d;
}

/* ---------------Red Button (remove)------------------ */
button {
    width: 100px;
    height: auto;
    float: right;
    background-color: red;
    border: 1px solid #4b4b4b;
    box-shadow: 2px 2px 2px #3f3f3f;
    border-radius: 50%;
    font-size: 5px;
}

button:hover {
    box-shadow: 2px 2px 3px;
}

button:active {
    box-shadow: 1px 1px 3px;
}

/* ---------MESSAGE----------- */

#messages {
    color: #4b4b4b;
    padding: 1.5rem 0;
    padding-top: 5.5rem;
    padding-right: 150px;
    padding-bottom: 1.5rem;
    padding-left: 150px;
    font-size: larger;
}

.list_message {
    padding-bottom: 1.5rem;
    padding-left: 30px;
}

.new-messages {
    padding-top: 1.5rem;
    padding-left: 0px;
    list-style: none;
}