* {
    background-color: #14192cf6;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Intr', sans-serif;

}

h2 {
    color: #E14802;
}

/* ---------------Header Css------------------- */
nav {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    padding-top: 1.5rem;
    padding-right: 150px;
    padding-bottom: -100px;
    padding-left: 150px;
    font-size: larger;

}

.nav-pic {
    border: 1px solid #E14802;
    width: 40px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;



}

.nav-logo {
    font-size: 20px;
    align-items: center;

}

.menu-list {
    display: flex;
    padding: 30 px;
    list-style-type: none;
    text-align: center;
    white-space: nowrap;


}

.menu-list-item {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    padding: 8px;
}

.menu-list-item a {
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.menu-list-item:hover a {
    text-decoration: none;
    color: #ff7200;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

@media(max-width: 1000px) and (min-width: 468px) {
    .menu-list {
        display: inline-block;
    }

    .menu-list-item a {
        margin-left: 0.5rem;
    }
}

/* ----------About-------------- */
.about-container {
    padding: 1.5rem 0;
    padding-top: 4rem;
    padding-right: 0px;
    padding-bottom: 1.5rem;
    padding-left: 150px;
    font-size: larger;
    color: black;


}

@media(max-width: 1000px) and (min-width: 320px) {
    .about-container {
        display: inline-block;
    }

}

.pro {
    width: 54vw;
    background-color: #cfe2e9;
    /* padding: 1.5rem 0; */
    padding-top: 1.5rem;
    padding-right: 100px;
    padding-bottom: 1.5rem;
    padding-left: 15px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 100px;
    border: solid #E14802 1px;
}

em {
    color: black;
    background-color: #cfe2e9;
}







/* --------------Skills----------------------- */
#skills {

    padding-left: 150px;
    color: black;
    padding-top: 50px;


}

#skills ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 90px;
}

.skill {
    background-color: #cfe2e9;
    text-align: center;
    width: 130px;
    height: 28px;
    border-radius: 10px;
    margin: 12px;
    font-size: 20px;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 30px;
    padding-left: 0px;
    text-align: center;
    border: solid #E14802 1px;
}

/* ------------Experience------------------- */
#experience {
    display: block;
    color: black;
    padding: 1.5rem 0;
    padding-top: 2.5rem;
    padding-right: 150px;
    padding-bottom: 1.5rem;
    padding-left: 150px;
    font-size: larger;

}


.experience-list {
    padding: 15px;


}

.new-style {
    padding-top: 1.5rem;
    background: #cfe2e9;
    border-radius: 15px;
    border: solid #E14802 1px;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin: 5px;
    justify-content: space-between;
}

/* span  {
    background: #ccc;
} */

@media(max-width: 1000px) and (min-width: 320px) {
    .new-style {
        display: block;
    }

    .span-date {
        display: block;
    }
}


.span-date {
    background-color: #cfe2e9;
    border-radius: 10px;

}

.ex-list strong {
    background-color: #cfe2e9;
}

.ex-list {
    background-color: #cfe2e9;
}

/* --------------PROJECT---------------- */

#projects {
    color: black;
    padding-left: 150px;
    padding-top: 50px;
    font-size: larger;

}

#projects ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

#projects ul li {
    display: block;
    background-color: #cfe2e9;
    text-align: center;
    width: 22vw;
    height: 28px;
    border-radius: 10px;
    margin: 15px;
    margin-left: 20px;
    font-size: 20px;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 30px;
    padding-left: 0px;
    text-align: center;
    border: solid #E14802 1px;
    margin-top: 30px;
}

/* --------------CONTACT---------------------- */
#contact {
    color: #fff;
    margin: 0px;
    padding-left: 150px;
    font-size: larger;
}

.label_one {
    display: inline-block;
}

.label_two {
    display: inline-block;
    padding: 20px;

}

input[type='email'],
input[type='text'] {
    width: 20em;
    padding: 12px 10px;
    box-sizing: border-box;
    border: 1px solid #E14802;
    border-radius: 10px;
    background-color: #cfe2e9;
    font-size: 16px;
    resize: none;
    /* width: 15em; */
}

textarea {

    width: 20em;
    height: 80px;
    padding: 0px 10px;
    box-sizing: border-box;
    border: 1px solid #E14802;
    border-radius: 10px;
    background-color: #cfe2e9;
    font-size: 16px;
    resize: none;
}

textarea:focus {
    outline: none;
}

/* ----------------BUTTON-------------------- */
#submit {
    width: 150px;
    background: #E14802;
    /* background: #008CBA; */
    margin-top: 18px;
    margin-left: 0px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
    padding: 12px 0px;
    text-align: center;
    text-decoration: none;
    float: left;

}

#submit:hover {

    color: black;
}

/* ---------------ICONS------------------ */
.social-links {
    display: flex;
    list-style: none;
    font-size: 35px;
    gap: 10px;
    padding-bottom: 20px;
}

.social-icon {

    color: #E14802;
}

.social-icon:hover {
    color: #fff;

}

/* --------------FOOTER-------------- */
.footer-content {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding-right: 150px;
    padding-left: 150px;
    font-size: larger;
}



.copyright {
    padding: 0 px;
    list-style-type: none;
    white-space: nowrap;

}

/* ---------------Red Button (remove)------------------ */
.remove-button {
    width: 80px;
    height: auto;
    display: flex;
    background-color: #f44336;
    border: 1px solid #4b4b4b;
    box-shadow: 2px 2px 2px #3f3f3f;
    border-radius: 0;
    padding: 6px 8px;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    font-size: 18px;
    border: none;
    color: white;



}

.remove-button:hover {
    box-shadow: 2px 2px 3px;
}

.remove-button:active {
    box-shadow: 1px 1px 3px;
}

/* ---------MESSAGE----------- */

#messages {
    color: #fff;
    padding: 1.5rem 0;
    padding-top: 5.5rem;
    padding-right: 150px;
    padding-bottom: 1.5rem;
    padding-left: 150px;
    font-size: larger;

}

.list_message {
    padding-bottom: 1.5rem;
    padding-left: 30px;

}

.new-messages {
    padding-top: 1.5rem;
    padding-left: 0px;
    list-style: none;

}